<html>

<head>
<title>Evaluator</title>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<script src="/semantic/dist/semantic.min.js"></script>
<script src="/javascripts/evaluator.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/evaluator.css">
<script>
	var version = "<%= version %>";
</script>
</head>

<body ng-app="evaluator">
<div id="all" class="ui text container">
<div class="ui container">
<div class="ui container">
  <div class="ui left internal rail">
      <search><terms/></search>
  </div>
  <div class="ui right internal rail">
     <finished/>
  </div>
  <p><judgements/></p>
  
  <p><results/></p>

</div>
</div>
</div>

<thanks></thanks>
<keypressed/>
</body>
</html>