<html>
<head>
<title>Evaluator: Report: <%= versionOne %> vs <%= versionTwo %> %></title>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<script src="/semantic/dist/semantic.min.js"></script>
<script src="/javascripts/evaluator.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/evaluator.css">
<script>
	var version = "<%= versionOne %>_<%= versionTwo %>";
	var versionOne = "<%= versionOne %>";
	var versionTwo = "<%= versionTwo %>";
</script>

</head>
<body ng-app="evaluator">



<div id="all" class="main ui container">
<div class="ui grid">
<div class="six wide column">
 <report/>
</div>
<div class="ten wide column">	
 <div class="ui right sticky fixed top">
   <p><judgements/></p>
  <p><query/></p>
  <results data-version="<%= versionOne %>"></results>
  <results data-version="<%= versionTwo %>"></results>

 </div>
</div>
</div>
</div>

</body>