<html>
<head>
<title>Evaluator: Versions</title>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<script src="/semantic/dist/semantic.min.js"></script>
<script src="/javascripts/evaluator.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/evaluator.css">

</head>
<body ng-app="evaluator">


<div id="all" class="main ui container">
<h1>Versions</h1>

<div class="ui grid">
<div class="eight wide column">
 <versions/>
</div>
</div>
</div>

<versionForm/>

</body>